h1{
  width: 326px;
  height: 78px;
  left: 99px;
  top: 88px;
  font-size: 64px;
  margin: 20px;
}

.tamalitos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  list-style: none;
}

.tamales{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 417px;
  height: 136px;
}

.encabezado{
  font-size: 24px;
  font-weight: bolder;
  width: 192px;
  height: 29px;
}

.precio{
  font-size: 18px;
}

.sabordulce{
  border-radius: 4px;
  font-size: 24px;
  width: 126px;
  height: 44px;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #ff77d9;
}

.saborpicante{
  border-radius: 4px;
  font-size: 24px;
  width: 126px;
  height: 44px;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #ff0101;
}




